div {
  border: 1px solid black;
}

body {
    background-color: rgb(204,204,255);
}

#page1 .myDiv {
  border: 1px solid green;
  width: 200px;
}

#page2 .myDiv {
  border: 1px solid red;
  width: 100px;
}
